<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A - Panel de Administración</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- BOOTSTRAP -->



    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->












    <!-- Enlace al archivo CSS de Bootstrap -->





















    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/admin/style.css">

</head>

<body>







    <header>
        <!-- Sección izquierda del encabezado -->
        <div class="header-left">
            <a href="pagina.html"><img src="/img/starcleanlogo4.png" id="imgmeet" alt="" width="80px"></a>

            <!-- Menú desplegable de la cuenta -->
            <div class="dropdown">

                <div class="dropdown-content">
                    <!-- Opciones de la cuenta -->
                    <p class="titulillo">Elige entre las siguientes opciones</p>
                    <a href="#">Editar perfil</a>
                    <a href="/html/index.html">Cerrar sesión</a>
                    <a href="#" style="color: rgb(168, 44, 44); font-weight: 500;">Eliminar cuenta</a>
                </div>
            </div>
        </div>
        <!-- Sección central del encabezado -->

        <!-- Sección derecha del encabezado -->
        <div class="header-right">
            <!-- Enlace al inicio -->
            <a href="#" class="logo"><a href="#" class="badge badge-primary">Cuenta admin </a>

        </div>






    </header>


    <main>




        <div class="container">
            <!-- Content here -->



            <div class="table-div">

                <aside>
                    <!-- Contenido del sidenav -->
                    <nav>

                        <ul>

                            <li><a href="/html/aprende.html">Gestión de Productos </a></li>
                            <p> Agregar, editar y eliminar productos.</p>

                            <li><a href="/html/soporte.html">Gestión de Cotizaciones</a></li>
                            <p> Visualización y gestión de las solicitudes de cotización recibidas de los clientes.</p>
                            <li><a href="/html/about.html">Administración de Clientes</a></li>
                            <p> Mantén un registro de los clientes registrados y sus detalles.</p>


                        </ul>

                    </nav>
                </aside>
            </div>


           <div class="container-right">

            <div class="card">
                <h5 class="card-header">Starclean C.A</h5>
                <div class="card-body">
                    <h5 class="card-title">Gestiona tu tienda de productos</h5>
                    <p class="card-text">Bienvenido al panel de administración. Aquí puedes controlar todos los
                        aspectos de tu ecommerce.</p>
                    <a href="#" class="btn btn-primary">Ir a la gestión de productos</a>
                </div>
              </div>

              






              <div class="table-second">

              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Pedidos</h5>
                        <p class="card-text">Administra los pedidos de los clientes.</p>
                        <a href="#" class="btn btn-primary">Ver pedidos</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Estadísticas de Ventas</h5>
                        <p class="card-text">Visualiza las estadísticas de ventas.</p>
                        <a href="#" class="btn btn-primary">Ver estadísticas</a>
                  </div>
                </div>
              </div>
            </div>


            <div class="table-third">



                <div class="card text-dark bg-light mb-3" style="max-width: 100%;">
                    <div class="card-header">Información del negocio</div>
                    <div class="card-body">
                      
                    
                        <form class="row g-3">
                            <div class="col-md-6">
                              <label for="inputEmail4" class="form-label">Email</label>
                              <input type="email" class="form-control" id="inputEmail4">
                            </div>
                            <div class="col-md-6">
                              <label for="inputPassword4" class="form-label">Número de telefono</label>
                              <input type="text" class="form-control" id="inputPassword4">
                            </div>
                            <div class="col-12">
                              <label for="inputAddress" class="form-label">Dirección</label>
                              <input type="text" class="form-control" id="inputAddress" placeholder="Calle Macaira, Guatire">
                            </div>
                            <div class="col-12">
                              <label for="inputAddress2" class="form-label">Instagram</label>
                              <input type="text" class="form-control" id="inputAddress2" placeholder="@starclean">
                            </div>
                           
                            <div class="col-12">
                              <button type="submit" class="btn btn-primary">Actualizar</button>
                            </div>
                          </form>











                      
                    </div>







            </div>


           </div>




        </div>















        </div>







    </main>
















</body>

</html>