<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
    
    
    
    <!-- BOOTSTRAP -->
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    
    
    <!-- Enlace al archivo CSS de Bootstrap -->






    <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/cuenta/style.css">
 
</head>
<body>
  





    
  <header>
    <!-- Sección izquierda del encabezado -->
    <div class="header-left">
      <a href="/"><img src="/public/img/starcleanlogo4.webp" id="imgmeet" alt="" width="80px"></a>
      <!-- Menú desplegable de la cuenta -->
      <div class="margin-left-header">
      </div>
    </div>
    </div>
    <!-- Sección central del encabezado -->
    <div class="header-center">
      <!-- Barra de búsqueda -->
      <input type="text" class="form-control" placeholder="Buscar eventos">
    </div>
    <!-- Sección derecha del encabezado -->
    <div class="header-right">
      <!-- Enlace al inicio -->

      <div class="dropdown">

        <svg xmlns="http://www.w3.org/2000/svg" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false" class="icon icon-tabler icon-tabler-user-circle" width="42" height="42"
          viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
        </svg>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/tuspedidos">Pedidos</a></li>
          <li><a class="dropdown-item" href="/cuenta">Cuenta</a></li>
          <li><a class="dropdown-item cerrar-sesion" href="#">Cerrar sesión</a></li>

        </ul>
      </div>
    </div>
  </header>

        <nav>

            <div class="header-down">
                <a href="#" class="logo">Limpieza</a>
                <a href="#" class="logo">Seguridad Industrial</a>
                <a href="#" class="logo">Papeleria</a>
                <a href="#" class="logo">Mi cuenta</a>
                <a href="#" class="logo">Mis pedidos</a>
                <a href="#" class="logo" >Pedir cotización</a>
            </div>

        </nav>
        <main>
        

 

            <div class="container">
                <!-- Content here -->
                <h2 class="font-weight-bold mb-2">  Tu cuenta  <span class="badge bg-primary">Empresarial</span>    </h2>           
                

<div class="list-group">
             


                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                   <a href=/tuspedidos class="card-link">
                      <div class="card-body" >
                        <h5 class="card-title">Tus pagos</h5>
                        <p class="card-text">Echa un vistazo a los pedidos que has hecho.</p>
                      </a>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <a href=/cotizaciones class="card-link">
                      <div class="card-body">
                        <h5 class="card-title">Ver cotizaciones</h5>
                        <p class="card-text">Mira las cotizaciones que se han realizado.</p>
                       </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <a href=/ class="card-link">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Tus pagos</h5>
                        <p class="card-text">Revisa si tus pagos han sido aprobados</p>
                   </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <a href=/servicioalcliente class="card-link">
                      <div class="card-body">
                        <h5 class="card-title">Servicio al cliente</h5>
                        <p class="card-text">¿Necesitas ayuda?</p>
                   </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <a href=/configuracion class="card-link">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Configuración de tu cuenta</h5>
                        <p class="card-text">Edita la información de tu cuenta.</p>
                       </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <a href=/informacion class="card-link">
                      <div class="card-body">
                        <h5 class="card-title">Información de tu cuenta</h5>
                        <p class="card-text">Revisa la información importante de tu cuenta.</p>
                      </a>
                      </div>
                    </div>
                  </div>
                </div>
          

          
              </div>







              
              
              
            
              </div>






           



        </main>
   

        












<script src="main.js"></script>
</body>
</html>
