<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
    
    
    
    <!-- BOOTSTRAP -->
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    
    
    <!-- Enlace al archivo CSS de Bootstrap -->






    
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/cuenta/style.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
</head>
<body>
  



  <script src="/views/components/header.js"></script> <!-- Incluye el script del encabezado -->
 
      
        <main>
        

 

            <div class="container">
                <!-- Content here -->
                <h2 class="font-weight-bold mb-2">  Tu cuenta   <span class="badge bg-primary"><%= usuario.nombre %></span>    </h2>           
                

<div class="list-group">
             


                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                   <a href=/tuspedidos class="card-link">
                      <div class="card-body" >
                        <h5 class="card-title">Tus cotizaciones</h5>
                        <p class="card-text">Mira las cotizaciones que has realizado.</p>
                      </a>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <a href=/servicioalcliente class="card-link">
                      <div class="card-body">
                        <h5 class="card-title">Servicio al cliente</h5>
                        <p class="card-text">¿Necesitas ayuda?</p>
                       </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <a href="/usuarios/editar/<%= usuarioId %>" class="card-link">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Configuración de tu cuenta</h5>
                          <p class="card-text">Edita la información de tu cuenta.</p>
                         </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <a href=/informacion class="card-link">
                      <div class="card-body">
                        <h5 class="card-title">Información de tu cuenta</h5>
                        <p class="card-text">Revisa la información importante de tu cuenta.</p>
                      </a>
                      </div>
                    </div>
                  </div>
                </div>

              
          

          
              </div>







              
              
              
            
              </div>






           



        </main>
   

        











        <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="main.js"></script>
</body>
</html>
