<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
    
    
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- Enlace al archivo CSS de Bootstrap -->





















    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/productos/style.css">
 
</head>
<body>
  





    
        <header>
            <!-- Sección izquierda del encabezado -->
            <div class="header-left">
              <a href="pagina.html"><img src="/img/starcleanlogo4.png" id="imgmeet" alt="" width="80px"></a>
              
                <!-- Menú desplegable de la cuenta -->
                <div class="dropdown">
                  
                    <div class="dropdown-content">
                        <!-- Opciones de la cuenta -->
                        <p class="titulillo">Elige entre las siguientes opciones</p>
                        <a href="#">Editar perfil</a>
                        <a href="/html/index.html">Cerrar sesión</a>
                        <a href="#" style="color: rgb(168, 44, 44); font-weight: 500;">Eliminar cuenta</a>
                    </div>
                </div>
            </div>
            <!-- Sección central del encabezado -->
            <div class="header-center">
                <!-- Barra de búsqueda -->
                <input type="text" class="form-control" placeholder="Buscar eventos">
              
            </div>
            <!-- Sección derecha del encabezado -->
            <div class="header-right">
                <!-- Enlace al inicio -->
                <a href="#" class="logo">Cuenta</a>  
                <a href="#" class="logo">Pedidos</a>
                <a href="#" class="logo">Carrito</a>
            </div>



    

            
        </header>

        <nav>

            <div class="header-down">
                <a href="#" class="logo">Limpieza</a>
                <a href="#" class="logo">Seguridad Industrial</a>
                <a href="#" class="logo">Papeleria</a>
                <a href="#" class="logo">Mi cuenta</a>
                <a href="#" class="logo">Mis pedidos</a>
                <a href="#" class="logo" >Pedir cotización</a>
            </div>

        </nav>
        <main>
        

 

            <div class="container">
                <!-- Content here -->
           
             


             

          

              <div class="container py-5">

                <!-- For demo purpose -->
               
                <!-- End -->
              
                <div class="row">
                  <div class="col-lg-8 mx-auto">
              
                    <!-- List group-->
                   
              
                      <!-- list group item-->
                      <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                          <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                            <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                              <h6 class="font-weight-bold my-2">$120.00</h6>
                              
                            </div>
                            <button class="button-5" role="button">Button 5</button>
                          </div><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-1_gthops.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <!-- End -->
                      </li>
                      <!-- End -->
              
                      <!-- list group item-->
                      <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                          <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                            <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                              <h6 class="font-weight-bold my-2">$99.00</h6>
                             
                            </div>
                            <button class="button-5" role="button">Button 5</button>
                          </div><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-2_g4qame.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <!-- End -->
                      </li>
                      <!-- End -->
              
                      <!-- list group item -->
                      <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                          <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                            <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                              <h6 class="font-weight-bold my-2">$140.00</h6>
                             
                            </div>
                            <button class="button-5" role="button">Button 5</button>
                          </div><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-3_rk25rt.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <!-- End -->
                      </li>
                      <!-- End -->
              
                      <!-- list group item -->
                      <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                          <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Awesome product</h5>
                            <p class="font-italic text-muted mb-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fuga autem maiores necessitatibus.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                              <h6 class="font-weight-bold my-2">$220.00</h6>
                             
                            </div>
                            
                            <button class="button-5" role="button">Button 5</button>

                          </div><img src="https://bootstrapious.com/i/snippets/sn-cards/shoes-4_vgfjy9.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <!-- End -->
                      </li>
                      <!-- End -->
              
                    </ul>
                    <!-- End -->
                  </div>
                </div>
              </div>












              
              
              
            
              </div>






           



        </main>
   

        













</body>
</html>
