body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#F8F8F8;
    color: #fff;
    overflow-x: hidden;
    font-weight: 600;
    font-size :16px;
    font-feature-settings: "calt" 0;
    letter-spacing: -0.56px;
    line-height :21.6px;
    color:rgb(34, 34, 34);
  
}



/* Agrega más medios de comunicación según sea necesario */



/* Anchura */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #313131;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#c45c5c, #c02f4e);

}

/* Handle al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#c45c5c, #c02f4e);
}


header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background-color:#FFFFFF;
    font-weight: 480;

}



.header-down {
    
    display: flex;
    justify-content: left;

    padding: 10px 20px;
   
    background-color:#FFED00;
    font-weight: 480;
    position: relative;
}

.header-down a {
    
   margin-left: 7.55rem;
    
}




/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa8e00;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
   
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 25ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    
  }

  .card{


    margin-bottom: 2rem;
  }


.right{


margin-left: 14px;



}

.btn-special{

background-color: #ffffff;
border: none;
color: #1b1b1b;
}

.btn-special:hover{

    background-color: #ffffff;
    border: none;
    color: #EA5730;
    }
  
#icon{

    width: 32px;
    height: 32px;
   background-color: rgb(243, 243, 243);
    padding: 0.5rem;
    
    }

.logo {
    letter-spacing: -0.56px;
line-height :21.6px;
 
    text-decoration: none;
    font-size: 16px; /* Tamaño de fuente uniforme */
    margin-right: 20px; /* Espacio entre el logo y el siguiente elemento */
    font-feature-settings: "calt" 0;
    color:rgb(34, 34, 34);
    
}

.logo:hover{


    color: #e0e0e0;
}



.header-left {
    display: flex;
    align-items: center;
    
   
}

.placeholder{

    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 600;
   
}



.dropbtn {
    background-color: transparent;
    border: none;
    color:rgb(34, 34, 34);
    cursor: pointer;
 
    font-size: 16px;
}

.dropbtn:hover  {
   color: #bbbbbb;

}


.margin-left-header{

    margin-left: 1rem;
}

.cerrar-sesion{

color: rgb(218, 5, 5);

}
.titulillo {
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px #444 solid;
    font-size: 15px;
    font-weight: 700;
    line-height: 4px;
    padding: 0.92rem;
    
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.show {
    display: block;
}

.titulillo{
   
    -webkit-font-smoothing: antialiased;
 border-bottom: 1px #444 solid;
    font-size: 15px;
    font-weight: 700;
    line-height: 4px;
    padding: 0.92rem;
    

}


.dropdown-content a:hover {
    color: #cccccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:rgb(255, 255, 255);
   
    border-radius: 5px;
}





.header-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
   
   
}

.header-center input {
    flex-grow: 1; /* El input ocupa todo el espacio disponible */
    padding: 12px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: #1b1b1b;
    margin-right: 10px; /* Espacio entre el input y el icono */
    text-align: left; /* Centra el texto dentro del input */
   
}




.fa {
    color:rgb(34, 34, 34);
    font-size: 16px; /* Tamaño uniforme para los iconos */
}

.header-right {
    display: flex;
    align-items: center;
}


/* Estilos para el segundo encabezado */



.titulo{




margin-top: 1.5rem;
margin-bottom: 1.5rem;

}





 .gradient {
        background: linear-gradient(180deg, transparent, #e5e7eb);
       bottom:17.4vw;
        height: 30%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 0;
      
 }


 @media (min-width: 1200px) {
    .container{
        max-width: 1340px;
    }
}


.cuentainfo{
margin-top: -6rem;


}

/* Media queries para hacer la tarjeta más receptiva */




/* Agrega más media queries según sea necesario para adaptarse a diferentes tamaños de pantalla */





.img-fluid{

width: 100%;


}


/* Estilos del aside */
aside {
  
    padding: 20px;
   
    border-right: 1px solid rgb(228, 228, 228); /* línea de color claro */
    overflow-y: auto;
    margin-top: 3.40rem;
    height: 160%;
    width: 260px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s ease; /* Transición más lenta */
    color: rgb(34, 34, 34); /* Color de texto blanco */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: rgb(34, 34, 34);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(94, 94, 94);
    
}

.info{
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    background-color: #333;
    color: #ffffff;
    padding: 1rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: grid;
    max-width: 55.3rem;
    border: 1px solid #443747; /* línea de color claro */
    background-color: rgb(17, 9, 16);
    line-height: 0.57px;
    background-color: rgb(22, 14, 22);
   height: 16.1rem;
    width: 36rem;
   
    margin-top: -19.2rem;
    background-image: linear-gradient(to top, rgba(7, 7, 7, 0.452), rgba(0, 0, 0, 0)), url('/img/bg-a352b7ab2e3b.png');
    background-size:  cover;
   background-repeat: no-repeat;
   background-position-x: center;
   filter: hue-rotate(15deg); /* Aplica un filtro para hacer la imagen más morada */
    
   


}


.info2{
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    background-color: #333;
    color: #ffffff;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: grid;
    max-width: 55.3rem;
    border: 1px solid #443747; /* línea de color claro */
    background-color: rgb(17, 9, 16);
    line-height: 0.57px;
    background-color: rgb(22, 14, 22);
   height: 16.1rem;
    width: 36rem;
     margin-left: auto;
    margin-top: -19.2rem;
    background-image: linear-gradient(to top, rgba(7, 7, 7, 0.452), rgba(0, 0, 0, 0)), url('/img/bg-a352b7ab2e3b.png');
    background-size:  cover;
   background-repeat: no-repeat;
   background-position-x: center;
   filter: hue-rotate(15deg); /* Aplica un filtro para hacer la imagen más morada */
   
   


}
@media (max-width:500px) {
    
    .header-down{

        display: none;
    
    
    
    
    }




    .col-lg-3{

        height: 10rem;
   

      



    }

  

   .hero{

width: 100%;

   }
  
   

   
   h5{

    font-size: 15px;
   
        }

        h5, text-dark{

          margin-top: -65px;
           text-align: right;
                }


}


.hover-dropdown:hover{

    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;

    transform: scale(1.05); /* Hace la card un 5% más grande */
     stroke: #c85000;
  
   
}


.link-none{

    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto de su contenedor */
    display: block; /* Asegura que el enlace ocupe todo el espacio de la card */

}

.link-none-two{

    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto de su contenedor */
    

}

.link-none-two:hover{

    color: white;

}

.link-none:hover{
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    transform: scale(1.02); /* Hace la card un 5% más grande */
color: #ED7556;
font-weight: 500;

}



/* CARRUSEL */

.card{
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
margin-bottom: 20px;
box-shadow: none;
background-color:#ffffff;
border:1px solid,  rgb(235, 235, 235);
}

.card-special:hover {
    transform: scale(1.05); /* Hace la card un 5% más grande */
    background-color: #F49600; /* Cambia el color de fondo al hacer hover */
    color: #ffffff;
    border:1px solid,  #E5E7EB;
   
}

.special-row{

font-size: 15px;

}


    

        .dropdown-menu{

            z-index: 5;



        }

        .card-add {
            transition: transform 0.3s ease;
            border: 1px solid transparent;
            overflow: hidden;
            cursor: pointer;
            position: relative;
        }
        
        .card-add:hover {
            transform: scale(1.05);
        }
        
        .card-add .card-body {
            position: relative;
        }
        
        .check-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.3s ease, opacity 0.3s ease;
            opacity: 0;
        }
        
        .myCard.selected .check-icon {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
        
        .img-fluid {
            transition: filter 0.3s ease, opacity 0.3s ease;
        }
        
        .myCard.selected .img-fluid {
            filter: blur(3px);
            opacity: 0;
        }
        
        .myCard {
            transition: transform 0.3s ease-out, opacity 0.3s ease;
            cursor: pointer;
            position: relative;
        }
        
        .myCard.selected {
            transform: scale(0.95);
        }
        
        .myCard .card-body {
            position: relative;
            z-index: 1;
        }
        
        .myCard.selected .card-body {
            opacity: 0;
            visibility: hidden;
            
        }
        
        .selected .product-image {
            filter: blur(4px);
            opacity: 0.7;
        }

        
.header-center {
    /* Ajusta según tus necesidades */
    display: flex;
   
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 0px 30px; /* Añade relleno arriba y abajo */
  }
  
  .btn-center {
    margin-right: 20px ; /* Margen entre cada elemento <a> */
  }
  /* styles/styles.css */

  .menu-hamburguesa {
    cursor: pointer;
    display: none; /* Oculta por defecto en pantallas grandes */
  }
  
  .menu-desplegable {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 200px; /* Ancho del menú desplegable en móviles */
    transform: translateX(100%); /* Inicia oculto fuera de la pantalla */
    transition: transform 0.3s ease; /* Transición al mostrar/ocultar */
  }
  
  .menu-desplegable ul {
    list-style-type: none;
    text-decoration: none; 
    padding: 0;
    margin: 0;
  }
  
  .menu-desplegable ul li {
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 10px; /* Espacio entre cada elemento del menú */
  }
  
  @media (max-width: 500px) {
    /* Estilos específicos para pantallas móviles */
    .header-center {
      padding: 10px; /* Ajusta el relleno en pantallas móviles */
    }
  
    .btn-center {
      display: none; /* Oculta los botones en pantallas móviles */
    }
  
    .menu-hamburguesa {
      display: block; /* Muestra el icono de hamburguesa en pantallas móviles */
    }
  
    .menu-desplegable.activo {
      transform: translateX(0); /* Muestra el menú desplegable al activarlo */
    }

    .menu-desplegable.activo {
        display: block;
    }
  }
  
        
      

    /*  */
    .card-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    
    .card-buttons .btn {
        border: none;
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, opacity 0.3s ease;
    }
    
    .btn-add {
        background-color: #FFED00; /* Color amarillo para el botón Añadir */
        color: #1b1b1b;
        flex-grow: 1; /* Hace que el botón se expanda para ocupar espacio disponible */
        margin-right: 0.5rem;
    }
    
    .btn-star {
        background-color: #FFD700; /* Color dorado para la estrella */
        color: #fff;
        width: 2.5rem; /* Ajusta el tamaño del botón de la estrella */
        height: 2.5rem; /* Ajusta el tamaño del botón de la estrella */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .btn-star i {
        font-size: 16px; /* Tamaño de la estrella */
    }
    
    .btn-add:hover,
    .btn-star:hover {
        opacity: 0.8;
    }
    
    @media (max-width: 500px) {
        .card-buttons {
            flex-direction: column;
            align-items: stretch; /* Alinea los botones para ocupar todo el ancho */
        }
    
        .btn-add {
            margin-right: 0; /* Elimina el margen derecho en pantallas pequeñas */
            margin-bottom: 0.5rem;
        }
    
        .btn-star {
            width: 100%; /* El botón estrella ocupará todo el ancho disponible en pantallas pequeñas */
            margin-right: 0;
        }
    }
    


    #search-form {
        border-radius: 50px;
        overflow: hidden;
    
    }

    #search-input {
        border-radius: 50px; /* Bordes redondeados del input */
        padding: 10px 30px;
        transition: border-color 0.3s ease;
    }


  
        .spacedown{
     
        padding: 10px 20px;

        }

      

    #search-form button:hover {
        background-color: #0056b3; /* Color de fondo del botón en hover */
    }

.btn-2 {

    justify-content: right;
    text-align: right;
    align-items: right;
    max-width: 70px;

}