<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- Enlace al archivo CSS de Bootstrap -->





















    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/pedidos/style.css">
 
</head>
<body>
  





    
        <header>
            <!-- Sección izquierda del encabezado -->
            <div class="header-left">
              <a href="pagina.html"><img src="/img/starcleanlogo4.png" id="imgmeet" alt="" width="80px"></a>
              
                <!-- Menú desplegable de la cuenta -->
                <div class="dropdown">
                  
                    <div class="dropdown-content">
                        <!-- Opciones de la cuenta -->
                        <p class="titulillo">Elige entre las siguientes opciones</p>
                        <a href="#">Editar perfil</a>
                        <a href="/html/index.html">Cerrar sesión</a>
                        <a href="#" style="color: rgb(168, 44, 44); font-weight: 500;">Eliminar cuenta</a>
                    </div>
                </div>
            </div>
            <!-- Sección central del encabezado -->
            <div class="header-center">
                <!-- Barra de búsqueda -->
                <input type="text" class="form-control" placeholder="Buscar eventos">
              
            </div>
            <!-- Sección derecha del encabezado -->
            <div class="header-right">
                <!-- Enlace al inicio -->
                <a href="#" class="logo">Cuenta</a>  
                <a href="#" class="logo">Pedidos</a>
                <a href="#" class="logo">Carrito</a>
            </div>



    

            
        </header>

        <nav>

            <div class="header-down">
                <a href="#" class="logo">Limpieza</a>
                <a href="#" class="logo">Seguridad Industrial</a>
                <a href="#" class="logo">Papeleria</a>
                <a href="#" class="logo">Mi cuenta</a>
                <a href="#" class="logo">Mis pedidos</a>
                <a href="#" class="logo" >Pedir cotización</a>
            </div>

        </nav>
        <main>
        

 

            <div class="container">
                <!-- Content here -->
                <h2 class="font-weight-bold mb-2">  Tus pedidos  <a href="#" class="badge badge-primary">Empresarial</a>    </h2>           
                

                <div class="table-div">
               
              </div>

             






              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Orden #1 (Fecha)
                    </button>
                  </h2>
                
                
                
                
                
                
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                   




                      <div class="table-div">
                        <table class="table table-bordered caption-top">
                          <caption></caption>
                          <tr>
        
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            
                            
                          </tr>
                          <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                          </tr>
                          <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                            <td>Mexico</td>
                          </tr>
                        </table>
                    
<!-- Button trigger modal -->
<button type="button" class="button-7" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ver detalles
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ver detalles</h5>
    
      </div>
      <div class="modal-body">
        (Total de la compra)
      </div>
      <div class="modal-footer">
        <button type="button" class="button-5" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="button-6">Eliminar</button>
      </div>
    </div>
  </div>
</div>




                    </div>
                  </div>
                </div>
              



                


            </div>

          

           



        </main>
   

        













</body>
</html>
