<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
   
  
    
    <!-- BOOTSTRAP -->
   
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    

    <!-- Enlace al archivo CSS de Bootstrap -->






    <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/pedidos/style.css">
 
</head>
<body>
  





    
  <%- include('header') %>


        <nav>

            <div class="header-down">

 

              
              <a href=/tuspedidos class="btn btn-secondary e btn-special" type="button" aria-expanded="false">
                Mis compras
              </a>
             
              <a href=/servicioalcliente class="btn btn-secondary e btn-special" type="button" aria-expanded="false">
                Contacto
              </a>
             
            </div>

        </nav>
        <main>
        

 

            <div class="container">
                <!-- Content here -->
                <h2 class="font-weight-bold mb-2">  Tus pedidos  <span class="badge bg-primary">Empresarial</span>
                </h2>           
                

                <div class="table-div">
               
              </div>

             






              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Orden #1 (Fecha)
                    </button>
                  </h2>
                
                
                
                
                
                
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                   




                      <div class="table-div">
                        <table class="table table-bordered caption-top">
                          <caption></caption>
                          <tr>
        
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            
                            
                          </tr>
                          <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                          </tr>
                          <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                            <td>Mexico</td>
                          </tr>
                        </table>
                    
<!-- Button trigger modal -->
<button type="button" class="button-7" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ver detalles
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ver detalles</h5>
    
      </div>
      <div class="modal-body">
        (Total de la compra)
      </div>
      <div class="modal-footer">
        <button type="button" class="button-5" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="button-6">Eliminar</button>
      </div>
    </div>
  </div>
</div>




                    </div>
                  </div>
                </div>
              



                


            </div>

          

           



        </main>
   

        













</body>
</html>
