<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestión de Productos - Starclean C.A</title>
 

  <!-- BOOTSTRAP -->



  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <!--  -->


  <!-- Enlace al archivo CSS de Bootstrap -->

  <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
  <!-- Icono de la pestaña del navegador -->
  <link rel="stylesheet" href="/views/gestionar/style.css">

</head>

<body>

  <header>
    <!-- Sección izquierda del encabezado -->
    <div class="header-left">
      <a href="/"><img src="/public/img/starcleanlogo4.webp" id="imgmeet" alt="" width="80px"></a>

      <!-- Menú desplegable de la cuenta -->
      <div class="dropdown">

        <div class="dropdown-content">
          <!-- Opciones de la cuenta -->
          <p class="titulillo">Elige entre las siguientes opciones</p>
          <a href="#">Editar perfil</a>
          <a href="/html/index.html">Cerrar sesión</a>
          <a href="#" style="color: rgb(168, 44, 44); font-weight: 500;">Eliminar cuenta</a>
        </div>
      </div>
    </div>
    <!-- Sección central del encabezado -->

    <!-- Sección derecha del encabezado -->
    <div class="header-right">
      <!-- Enlace al inicio -->
      <a href="#" class="logo"><a href="#" class="badge badge-primary">Cuenta admin </a>

    </div>


  </header>
  <main>

    <div class="container">
      <!-- Content here -->

      <div class="table-div">

        <aside>
          <!-- Contenido del sidenav -->
          <nav>

            <ul>

              <li><a href="/gestion">Gestión de Productos </a></li>
              <p> Agregar, editar y eliminar productos.</p>

              <li><a href="/html/soporte.html">Gestión de Cotizaciones</a></li>
              <p> Visualización y gestión de las solicitudes de cotización recibidas de los clientes.</p>
              <li><a href="/html/about.html">Administración de Clientes</a></li>
              <p> Mantén un registro de los clientes registrados y sus detalles.</p>
            </ul>

          </nav>
        </aside>
      </div>
  <div class="container-right">

        <div class="card">
          <h5 class="card-header">Añade un nuevo producto </h5>
          <div class="card-body">



            <div class="container">
          
              <form class="row g-3" id="formAgregarProducto" action="/upload" method="post" enctype="multipart/form-data">
                  <div class="col-md-6">
                      <label for="inputNombre" class="form-label">Nombre del producto</label>
                      <input type="text" class="form-control" id="inputNombre" name="nombre">
                  </div>
                  <div class="col-md-6">
                      <label for="inputCosto" class="form-label">Costo</label>
                      <input type="number" class="form-control" id="inputCosto" name="costo" placeholder="1.5">
                  </div>
                  <div class="col-12">
                      <label for="inputPrecio" class="form-label">PVP (Precio al público)</label>
                      <input type="text" class="form-control" id="inputPrecio" name="precio" placeholder="3">
                  </div>
                  <div class="col-12">
                      <label for="inputImagen" class="form-label">Imagen del producto</label>
                      <input type="file" class="form-control" id="inputImagen" name="imagen" accept="image/*">
                  </div>
                  <div class="col-12">
                      <div class="input-group mb-3">
                          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" 
                              aria-expanded="false">Categoría</button>
                          <ul class="dropdown-menu" id="dropdownCategoria">
                              <li><a class="dropdown-item" href="#">Limpieza</a></li>
                              <li><a class="dropdown-item" href="#">Papeleria</a></li>
                              <li><a class="dropdown-item" href="#">Seguridad industrial</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-12">
                      <button type="submit" class="btn btn-primary">Subir producto</button>
                  </div>
              </form>
          </div>

          </div>
        </div>








        <div class="table-second">

          <div class="card">
            <h5 class="card-header">Eliminar un producto </h5>


            <div class="row">
              <div class="col-sm-6">

                <div class="card-body">


                  <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A list item
                      <input class="form-check-input me-1" type="checkbox" value="">

                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A list item
                      <input class="form-check-input me-1" type="checkbox" value="">

                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A list item
                      <input class="form-check-input me-1" type="checkbox" value="">

                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      A list item
                      <input class="form-check-input me-1" type="checkbox" value="">

                    </li>

                  </ul>




                  <section id="btn-eliminar">

                    <a href="#" class="btn btn-danger">Eliminar producto(s)</a>
                  </section>

                </div>

              </div>

            </div>

          </div>

          <div class="table-third">


            <div class="card text-dark bg-light mb-3" style="max-width: 100%;">
              <div class="card-header">Editar un producto</div>
              <div class="card-body">

                <!-- elegir producto -->

                <label for="exampleDataList" class="form-label">Elige el producto a editar</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Escribe para buscar">
                <datalist id="datalistOptions">
                  <option value="San Francisco">
                  <option value="New York">
                  <option value="Seattle">
                  <option value="Los Angeles">
                  <option value="Chicago">
                </datalist>


<br>

                <form class="row g-3">





                  <div class="col-md-6">




                    <label for="inputEmail4" class="form-label">Cambiar nombre del producto</label>
                    <input type="text" class="form-control" id="inputEmail4">
                  </div>
                  <div class="col-md-6">

                    <label for="inputPassword4" class="form-label">Nuevo costo</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder="1.5$">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label"> Nuevo PVP (Precio al público)</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="3$">
                  </div>
                  <div class="col-12">
                    <label for="inputAddress" class="form-label">Nueva Imagen del producto</label>
                    <div class="input-group mb-3">

                      <input type="file" class="form-control" id="inputGroupFile01">
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="input-group mb-3">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Nueva Categoría</button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Limpieza</a></li>
                        <li><a class="dropdown-item" href="#">Papeleria</a></li>
                        <li><a class="dropdown-item" href="#">Seguridad industrial</a></li>


                      </ul>

                    </div>
<br>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                  </div>






              </div>







            </div>


          </div>




        </div>















      </div>
    </div>






  </main>














<script src="main.js"></script>

</body>

</html>