
body {
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f8f8f8;
    color: #fff;
    overflow-x: hidden;
    font-weight: 600;
    font-size :16px;
    font-feature-settings: "calt" 0;
    letter-spacing: -0.56px;
    line-height :21.6px;
    color:rgb(34, 34, 34);
  
}



/* Agrega más medios de comunicación según sea necesario */





.font-weight-bold, mb-2{



margin-top: 2rem;

}

.form-check-input{


    margin-left: 26rem;
}


#btn-eliminar{

margin-top: 2rem;

}






/* Anchura */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #313131;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#c45c5c, #c02f4e);

}

/* Handle al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#c45c5c, #c02f4e);
}


header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(221, 221, 221); /* línea de color claro */
    background-color:rgb(255, 255, 255);
    font-weight: 480;

}

.header-down {
    
    display: flex;
    justify-content: left;

    padding: 10px 20px;
    border-bottom: 1px solid rgb(221, 221, 221); /* línea de color claro */
    background-color:rgb(247, 247, 247);
    font-weight: 480;
    position: relative;
}

.header-down a {
    
   margin-left: 7.55rem;
    
}

  
#icon{

    width: 32px;
    height: 32px;
   background-color: rgb(243, 243, 243);
    padding: 0.5rem;
    
    }

.logo {
    letter-spacing: -0.56px;
line-height :21.6px;
 
    text-decoration: none;
    font-size: 16px; /* Tamaño de fuente uniforme */
    margin-right: 20px; /* Espacio entre el logo y el siguiente elemento */
    font-feature-settings: "calt" 0;
    color:rgb(34, 34, 34);
    
}

.logo:hover{


    color: #e0e0e0;
}

.header-left {
    display: flex;
    align-items: center;
   
}

.placeholder{

    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 600;
   
}

.dropbtn {
    background-color: transparent;
    border: none;
    color:rgb(34, 34, 34);
    cursor: pointer;
 
    font-size: 16px;
}

.dropbtn:hover  {
   color: #bbbbbb;

}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}




/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa8e00;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
   
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 25ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }

  .button-6 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa003e;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
   
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 25ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-7 {
    align-items: center;
    background-clip: padding-box;
    background-color: #0075fa;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
   
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 25ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }


  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(255, 255, 255);
    min-width: 280px;
    min-height: 200px;
    z-index: 2;
    border: 1px solid #413b41;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 7px;
    padding: 0.8rem;
    margin-top: 1.3rem;
    font-weight: 480;
}

.titulillo {
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px #444 solid;
    font-size: 15px;
    font-weight: 700;
    line-height: 4px;
    padding: 0.92rem;
    
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.show {
    display: block;
}

.titulillo{
   
    -webkit-font-smoothing: antialiased;
 border-bottom: 1px #444 solid;
    font-size: 15px;
    font-weight: 700;
    line-height: 4px;
    padding: 0.92rem;
    

}


.dropdown-content a:hover {
    color: #cccccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:rgb(255, 255, 255);
   
    border-radius: 5px;
}





.header-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
   
   
}

.header-center input {
    flex-grow: 1; /* El input ocupa todo el espacio disponible */
    padding: 12px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    color: #1b1b1b;
    margin-right: 10px; /* Espacio entre el input y el icono */
    text-align: left; /* Centra el texto dentro del input */
   
}


.fa {
    color:rgb(34, 34, 34);
    font-size: 16px; /* Tamaño uniforme para los iconos */
}

.header-right {
    display: flex;
    align-items: center;
}


/* Estilos para el segundo encabezado */



.titulo{




margin-top: 1.5rem;
margin-bottom: 1.5rem;

}





 .gradient {
        background: linear-gradient(180deg, transparent, #e5e7eb);
       bottom:17.6vw;
        height: 30%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 0;
      
 }


 @media (min-width: 1200px) {
    .container{
        max-width: 1340px;
    }
}




/* Media queries para hacer la tarjeta más receptiva */




/* Agrega más media queries según sea necesario para adaptarse a diferentes tamaños de pantalla */





.img-fluid{

width: 100%;


}


/* Estilos del aside */
aside {
  
    padding: 20px;
   
    border-right: 1px solid rgb(228, 228, 228); /* línea de color claro */
    overflow-y: auto;
    margin-top: 3.40rem;
    height: 160%;
    width: 260px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s ease; /* Transición más lenta */
    color: rgb(34, 34, 34); /* Color de texto blanco */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: rgb(34, 34, 34);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(94, 94, 94);
    
}


@media (max-width:500px) {
    
    .header-down{

        display: none;
    
    
    
    
    }




    .col-lg-3{

        height: 10rem;
   

        justify-content: left;



    }

   .p-4{
    margin: 0;

    height: 10rem;

   }

   .img-fluid{
    

   width: 100px;
   }
  
   .img-fluid{

    margin-right: 50px;

   }

   
   aside{

    display: none;

}
    

   
  

}


.font-weight-bold, mb-2{


font-size: 1.5rem;

}









.card{


box-shadow: none;
background-color:#ffffff;
border:1px solid,  rgb(235, 235, 235);
}



/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa8e00;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
 
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 25ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}



.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  
}

.table-div{

margin-top: 2rem;

}

.img-estrellas{

z-index: -4;
position: relative;

width: 200%;
}


/* Estilos del aside */
aside {
  
    padding: 20px;
   
    border-right: 1px solid rgb(228, 228, 228); /* línea de color claro */
    overflow-y: auto;
    margin-top: 4.30rem;
    height: 200%;
    width: 260px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgb(253, 252, 252);
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s ease; /* Transición más lenta */
    color: #5c5c5c; /* Color de texto blanco */
}

.container-right{

margin-top: -1rem;
    margin-left: 260px;


}

.table-second{

margin-top: 2rem ;

}

.table-third{

    margin-top: 2rem ;
    
    }



    
/* styles/styles.css */

.header-center {
    /* Ajusta según tus necesidades */
    display: flex;
   
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 0px 30px; /* Añade relleno arriba y abajo */
  }
  
  .btn-center {
    margin-right: 20px ; /* Margen entre cada elemento <a> */
  }
  /* styles/styles.css */

  .menu-hamburguesa {
    cursor: pointer;
    display: none; /* Oculta por defecto en pantallas grandes */
  }
  
  .menu-desplegable {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 200px; /* Ancho del menú desplegable en móviles */
    transform: translateX(100%); /* Inicia oculto fuera de la pantalla */
    transition: transform 0.3s ease; /* Transición al mostrar/ocultar */
  }
  
  .menu-desplegable ul {
    list-style-type: none;
    text-decoration: none; 
    padding: 0;
    margin: 0;
  }
  
  .menu-desplegable ul li {
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 10px; /* Espacio entre cada elemento del menú */
  }
  
  @media (max-width: 500px) {
    /* Estilos específicos para pantallas móviles */
    .header-center {
      padding: 10px; /* Ajusta el relleno en pantallas móviles */
    }
  
    .btn-center {
      display: none; /* Oculta los botones en pantallas móviles */
    }
  
    .menu-hamburguesa {
      display: block; /* Muestra el icono de hamburguesa en pantallas móviles */
    }
  
    .menu-desplegable.activo {
      transform: translateX(0); /* Muestra el menú desplegable al activarlo */
    }

    .menu-desplegable.activo {
        display: block;
    }
  }
  