<!-- header.ejs -->

<header>
  <!-- Sección izquierda del encabezado -->
  <div class="header-left">
    <a href="/"><img src="/public/img/starcleanlogo4.webp" id="imgmeet" alt="" width="80px"></a>
    <!-- Puedes añadir más contenido si es necesario -->
  </div>

  <!-- Sección central del encabezado -->
  <div class="header-center">
    <!-- Botones -->
    <a href="/tuspedidos" class="btn btn-secondary e btn-special" type="button" aria-expanded="false">Mis pedidos</a>
    <a href="/servicioalcliente" class="btn btn-secondary e btn-special" type="button" aria-expanded="false">Contacto</a>
  </div>

  <!-- Sección derecha del encabezado -->
  <div class="header-right">
    <!-- Nombre del usuario -->
    <%= usuario.nombre %>

    <!-- Dropdown de usuario -->
    <div class="dropdown hover-dropdown">
      <!-- SVG para el icono de usuario -->
      <svg xmlns="http://www.w3.org/2000/svg" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="icon icon-tabler icon-tabler-user-circle" width="42" height="42" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
        <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
        <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
      </svg>

      <!-- Menú desplegable -->
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <% if (usuario && usuario.nombre) { %>
          <!-- Mostrar opciones si el usuario está autenticado -->
          <li><a class="dropdown-item" href="/cuenta">Cuenta</a></li>
          <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
        <% } else { %>
          <!-- Mostrar opciones si el usuario no está autenticado -->
          <li><a class="dropdown-item" href="/iniciarsesion">Iniciar sesión</a></li>
          <li><a class="dropdown-item" href="/registrarse">Registrarse</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</header>
