<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    
    <!-- Enlace al archivo CSS de Bootstrap -->


    <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/infocuenta/style.css">
 
</head>
<body>
  





  <script src="/views/components/header.js"></script>

        <nav>

            <div class="header-down">
                <a href="#" class="logo">Limpieza</a>
                <a href="#" class="logo">Seguridad Industrial</a>
                <a href="#" class="logo">Papeleria</a>
                <a href="#" class="logo">Mi cuenta</a>
                <a href="#" class="logo">Mis pedidos</a>
                <a href="#" class="logo" >Pedir cotización</a>
            </div>

        </nav>
        <main>
          <div class="container">
              <h2 class="font-weight-bold mb-2">Tu cuenta <span class="badge bg-primary">Empresarial</span></h2>
  
                          <div class="card">
                              <div class="card-header">Información</div>
                              <div class="card-body">
                                <ul class="list-group">                                    
                                      <li class="list-group-item"> <p class="card-text">Nombre: <%= usuario.nombre %></p></li>
                                      <li class="list-group-item">  <p class="card-text">Correo: <%= usuario.correo %></p></li>
                                      <li class="list-group-item"> <p class="card-text">Número: <%= usuario.number %></p></li>
                                      <li class="list-group-item"> <p class="card-text"> Dirección: <%= usuario.direccion %></p></li>
                                 
                                </ul>
                               
                              </div>
                          </div>
                      </div>
          
      </main>

        













</body>
</html>
