<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
  
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    
    <!-- Enlace al archivo CSS de Bootstrap -->


   
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/infocuenta/style.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
</head>
<body>
  





  <script src="/views/components/header.js"></script>

      
        <main>
          <div class="container">
              <h2 class="font-weight-bold mb-2">Tu cuenta <span class="badge bg-primary">Empresarial</span></h2>
  
                          <div class="card">
                              <div class="card-header">Información</div>
                              <div class="card-body">
                                <ul class="list-group">                                    
                                      <li class="list-group-item"> <p class="card-text">Nombre: <%= usuario.nombre %></p></li>
                                      <li class="list-group-item">  <p class="card-text">Correo: <%= usuario.correo %></p></li>
                                      <li class="list-group-item"> <p class="card-text">Número: <%= usuario.number %></p></li>
                                      <li class="list-group-item"> <p class="card-text"> Dirección: <%= usuario.direccion %></p></li>
                                 
                                </ul>
                               
                              </div>
                          </div>
                      </div>
          
      </main>
      <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
