<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
    
    
    
    <!-- BOOTSTRAP -->
   
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    
    
    
    
    
    <!-- Enlace al archivo CSS de Bootstrap -->



    <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/plantilla-configuracion/style.css">
    
</head>
<body>
  





    
  <script src="/views/components/header.js"></script>

    
        <main>
        
            <div class="container">
                <!-- Content here -->
                
                <section class="titulo">
                
                <h2 class="font-weight-bold mb-2">  Configuración de la cuenta <span class="badge bg-dark"><%= usuario.nombre %></span>    </h2>     

              </section>

                




              

              <div class="card">
                <h5 class="card-header"></h5>
                <div class="card-body text-muted">
                  <h5 class="card-title">Cambia la configuración de tu cuenta</h5>
                  <p class="card-text">¿Necesitas cambiar tu clave? ¿Correo? ¿Usuario? Puedes hacerlo aqui.</p>
                
                </div>
              </div>
  
<div class="form-div">

  <form>

    <p class="text-muted">Cambiar contraseña </p>
      <div class="form-row">
       
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Antigua clave" aria-label="Antigua clave">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Nueva clave" aria-label="Nueva clave">
          </div>
          
        </div>

        
      </div>
     <br>

      <button type="button" class="btn btn-success">Actualizar</button>
      
    </form>

   
  
 

              </div>
              
              <div class="form-div">

                <div class="form-row">
                  <p class="text-muted">Cambiar correo </p>
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Nuevo correo" aria-label="Nueva clave">
                    </div>
                 
                    
                  </div>
          
                  
                </div>
               <br>
          
                <button type="button" class="btn btn-success">Actualizar</button>
                
              </form>



</div>





<div class="form-div form-div-last">



  
  <form>

  
    <div class="form-row">
      <p class="text-muted">Cambiar nombre de usuario </p>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nuevo correo" aria-label="Nueva clave">
         
         <br> <button type="button" class="btn btn-success">Actualizar</button>
        </div>
     

      
 
    </form>




    

</div>

</div>



  
    

       
            
         



          
           </div>




        </main>
   










        
</body>
</html>
