body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    background-color:rgb(255, 255, 255);
    color: #fff;
overflow-x: hidden;
    font-weight: 600;
font-size :16px;
font-feature-settings: "calt" 0;
letter-spacing: -0.56px;
line-height :21.6px;
color:rgb(34, 34, 34);

}







/* Anchura */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #313131;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#68c45c, #75c02f);

}

/* Handle al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#75c02f, #68c45c);
}


header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(228, 228, 228); /* línea de color claro */
    background-color:rgb(255, 255, 255);
    font-weight: 480;
    
}

  
#icon{

    width: 32px;
    height: 32px;
   background-color: rgb(243, 243, 243);
    padding: 0.5rem;
    
    }

.logo {
    letter-spacing: -0.56px;
line-height :21.6px;
    color: #fff;
    text-decoration: none;
    font-size: 16px; /* Tamaño de fuente uniforme */
    margin-right: 20px; /* Espacio entre el logo y el siguiente elemento */
    font-feature-settings: "calt" 0;
    color:rgb(34, 34, 34);
}

.logo:hover{


    color: #e0e0e0;
}

.header-left {
    display: flex;
    align-items: center;
}

.placeholder{

    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 600;

}

.dropbtn {
    background-color: transparent;
    border: none;
    color:rgb(34, 34, 34);
    cursor: pointer;
 
    font-size: 16px;
}

.dropbtn:hover  {
   color: #bbbbbb;

}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(255, 255, 255);
    min-width: 280px;
    min-height: 200px;
    z-index: 2;
    border: 1px solid #413b41;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 7px;
    padding: 0.8rem;
    margin-top: 1.3rem;
    font-weight: 480;
}

.titulillo {
    -webkit-font-smoothing: antialiased;
    border-bottom: 1px #444 solid;
    font-size: 15px;
    font-weight: 700;
    line-height: 4px;
    padding: 0.92rem;
    
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.show {
    display: block;
}

.titulillo{
   
    -webkit-font-smoothing: antialiased;
 border-bottom: 1px #444 solid;
    font-size: 15px;
    font-weight: 700;
    line-height: 4px;
    padding: 0.92rem;
    

}


.dropdown-content a:hover {
    color: #cccccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:rgb(255, 255, 255);
   
    border-radius: 5px;
}





.header-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header-center input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color:rgb(255, 255, 255);
    color: #fff;
    margin-right: 10px; /* Espacio entre el input y el icono */
}

.fa {
    color:rgb(34, 34, 34);
    font-size: 16px; /* Tamaño uniforme para los iconos */
}

.header-right {
    display: flex;
    align-items: center;
}



/* Estilos del main */
main {
    -webkit-font-smoothing: antialiased;
   
    text-align: left; /* Alineación de los cuadros */
    margin-left: 10.5rem;
   padding: 10rem;
   margin-top: -2rem;
}

h1 {
    -webkit-font-smoothing: antialiased; 
    font-feature-settings: "calt" 0;
    font-size: 18px;
    margin-bottom: 20px; /* Espacio debajo del título */
}





#nombreUsuario{
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    font-size: 18px;
    color:rgb(255, 255, 255);
margin-top: 1rem;

}

#tituloprincipal{
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    margin-top: -7.7rem;
   margin-bottom: 1rem;
      }

      #tituloprincipal2{
        -webkit-font-smoothing: antialiased;
        font-feature-settings: "calt" 0;
        
       margin-top : 2rem;
       margin-left: 0.1rem;
          }

.info2{

    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    background-color: #333;
    color:rgb(34, 34, 34);
    padding: 1rem;
    border-radius: 5px;
    display: grid;
    max-width: 55.3rem;
    border: 1px solid #443747; /* línea de color claro */
    background-color:rgb(255, 255, 255);
    line-height: 0.57px;
   
}

#sub2{

    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 490;
    font-size: 16px;
    color: #bbbbbb;
    text-decoration: none;
    margin-top: -0.76rem;
    line-height: 22.54px;
    margin-left:0.1rem ;


}


.info{
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    background-color: #333;
    color:rgb(34, 34, 34);
    padding: 1rem;
    border-radius: 8px;
    display: grid;
    max-width: 55.3rem;
    border: 1px solid #443747; /* línea de color claro */
   
    line-height: 0.57px;
    background-color: rgb(22, 14, 22);
    min-height: 350px;
 

    background-image: linear-gradient(to top, rgba(7, 7, 7, 0.452), rgba(0, 0, 0, 0)), url('/img/bg-a352b7ab2e3b.png');
    background-size:  cover;
   background-repeat: no-repeat;
   background-position-x: center;
   filter: hue-rotate(15deg); /* Aplica un filtro para hacer la imagen más morada */
    
   


}



#imgmeet{

 margin-right: 1rem;
 margin-left: -0.6rem;
 margin-bottom: -0.2rem;
}

#copy{
    
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    border-radius: 6px;
text-decoration: none;
background-color: rgb(249, 251, 250);
color:rgb(34, 34, 34);
cursor: pointer;
border: 1px solid #444; /* línea de color claro */
display: inline-block;
padding: 10px 10px;


}

#sub{

    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 490;
    font-size: 16px;
    color: #bbbbbb;
    text-decoration: none;
    margin-top: -0.46rem;
    line-height: 22.54px;


}

#congregacionUsuario{

    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
 
    font-weight: 590;
    font-size: 20px;
    color: #ffffff;
    padding: 1rem;

    line-height: 22.54px;


}


nav ul p{
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 490;
    font-size: 14px;
    color: #bbbbbb;
    text-decoration: none;
    margin-top: -0.46rem;
    line-height: 22.54px;


}





.grid-item {
    
    color:rgb(34, 34, 34);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(228, 228, 228); /* línea de color claro */
    max-width: 25rem;
    
    background-color:rgb(255, 255, 255);
    transition: background-color 0.3s, transform 0.3s; /* Agrega transiciones */
    cursor: pointer; /* Cambia el cursor al pasar sobre los cuadros */
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 28.2rem) ;
    gap: 26px;

   
}

.grid-item:hover {
    background-color: #444; /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
    background-color:rgb(230, 230, 230);
}

.grid-item:hover  p{
   color: #ffffff;
  font-weight: 600;
}

.grid-item img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.grid-item p{


font-weight: 400;
color: #bbbbbb;
line-height: 21px;


}

/* Estilos del aside */
aside {
  
    padding: 20px;
   
    border-right: 1px solid rgb(228, 228, 228); /* línea de color claro */
    overflow-y: auto;
    margin-top: 3.40rem;
    height: 160%;
    width: 260px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgb(249, 251, 250);
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s ease; /* Transición más lenta */
    color:rgb(34, 34, 34);
}

.aside2 {
  
    padding: 20px;
  
   /*  border-left: 1px solid #443747; /* línea de color claro */ 
    overflow-y: auto;
    margin-top: 3.40rem;
    height: 160%;
    width: 274px;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgb(249, 251, 250);
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s ease; /* Transición más lenta */
    color:rgb(34, 34, 34);
    margin-left: 78.7rem;
overflow-y: hidden;

    
}

.info3 {
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    display: grid;
    max-width: 20.3rem;
    border: 1px solid #443747; /* línea de color claro */
    background-color: rgb(249, 251, 250);
    line-height: 0.57px;
  
    min-height: 22rem;
    margin-top: -1rem;
    margin-left: -0.39rem;
  
    margin-bottom: 6.40rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); /* Ajustar el ancho de las columnas automáticamente */
    gap: 5px; /* Espacio entre los cuadros */
}

.calendar-day {
    background-color: rgb(27, 14, 26);
    color:rgb(34, 34, 34);
    text-align: center;
    line-height: 45px;
    border-radius: 8px;
}

.calendar-day:hover{
    cursor: pointer; /* Cambia el cursor al hacer hover */
    background-color:  #c45c9c; /* Degradado ascendente de oscuro a claro al pasar el mouse */

}



.info4{
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt" 0;
    background-color: #333;
    color:rgb(34, 34, 34);
    padding: 1rem;
    border-radius: 8px;
    display: grid;
    max-width: 20.3rem;
    border: 1px solid #443747; /* línea de color claro */
    background-color: rgb(33, 22, 34);
    line-height: 0.57px;
 
    min-height: 9rem;
    margin-top: -1rem;
    margin-left: -0.39rem;
   


}


.info4 p{
    -webkit-font-smoothing: antialiased;

font-weight: 500;
font-size: 15px;
padding: 7px;
margin: 1px;
color:rgb(34, 34, 34);


}

.info3 p{
    -webkit-font-smoothing: antialiased;

font-weight: 500;
font-size: 15px;
color:rgb(34, 34, 34);
padding: 7px;
margin: 1px;

}

  
    
    
   




nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: rgb(0, 30, 43);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(1, 12, 17);
    
}




@keyframes expandInfo {
    from { max-height: 10rem; } /* Altura inicial */
    to { max-height: 38rem; } /* Altura deseada */
}

/* Definir la animación */
@keyframes changeColor {
    0% { filter: hue-rotate(0deg); } /* Color original */
    100% { filter: hue-rotate(360deg); } /* Color rotado 360 grados */
}



.info  {
   
    transition: filter 2.2s ease; /* Transición suave para el filtro */
    animation: changeColor 20s infinite linear; /* Duración de la animación, repetición infinita, lineal */
    /* Aplicar la animación a la imagen dentro de .info */

}
.info.expand {
  
    animation: expandInfo 1.5s ease forwards; /* Animación de expansión */
}


