<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
    
    
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- Enlace al archivo CSS de Bootstrap -->





















    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/iniciar/style.css">
 
</head>
<body>
  





    
        <header>
            <!-- Sección izquierda del encabezado -->
            <div class="header-left">
                <a href="pagina.html"><img src="/img/starcleanlogo4.png" id="imgmeet" alt="" width="80px"></a>
               
                <!-- Menú desplegable de la cuenta -->
               
               
            </div>
            <!-- Sección central del encabezado -->
          
            <!-- Sección derecha del encabezado -->
            <div class="header-right">
                <!-- Enlace al inicio -->
                <a href="pagina.html"><img src="/img/logo/meetworks.png" id="imgmeet" alt="" height="30px"></a>
            </div>



    

            
        </header>

        <main>
        
            <div class="container">
                <!-- Content here -->
           
                <div class="form-div">
                  <form id="login-form"> <!-- Agregado el identificador "login-form" -->
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="inputEmail4">Email</label>
                              <input type="email" class="form-control" id="inputEmail" placeholder="Email"> <!-- Cambiado el id a "inputEmail" -->
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputPassword4">Password</label>
                              <input type="password" class="form-control" id="inputPassword" placeholder="Password"> <!-- Cambiado el id a "inputPassword" -->
                          </div>
                      </div>
                      <button class="button-5" type="submit">Iniciar sesión</button> <!-- Agregado el atributo "type" a "button" -->
                  </form>
              </div>
              
      
</body>
</html>
