<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>



    <!-- BOOTSTRAP -->
    


    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/iniciar/style.css">
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> <!-- haha -->
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
</head>

<body>


    <header>
        <!-- Sección izquierda del encabezado -->
        <div class="header-left">
            <a href="/"><img src="/public/img/starcleanlogo4.webp" id="imgmeet" alt="" width="80px"></a>

            <!-- Menú desplegable de la cuenta -->
        </div>
        <!-- Sección central del encabezado -->

        <!-- Sección derecha del encabezado -->
        <div class="header-right">
            <!-- Enlace al inicio -->
            <a href="pagina.html"><img src="/img/logo/meetworks.png" id="imgmeet" alt="" height="30px"></a>
        </div>

    </header>

    <main>

        <div class="container">
            <!-- Content here -->

            <div class="form-div">
                <form id="login-form">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">Bienvenido otra vez a Starclean C.A</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="inputPassword">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                    <label><a href=/registrarse>¿No tienes cuenta? Regístrate.</a></label>
                    <div class="mb-3 form-check">
                   
                  
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>

            <script src="main.js"></script>
</body>

</html>