<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Starclean C.A</title>
    
    
    
    <!-- BOOTSTRAP -->
   
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--  -->
    
    
    <!-- Enlace al archivo CSS de Bootstrap -->





    <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
    <link rel="stylesheet" href="/views/registrar/style.css">
    
</head>
<body>
  

    
        <header>
            <!-- Sección izquierda del encabezado -->
            <div class="header-left">
                <a href="/"><img src="/public/img/starcleanlogo4.webp" id="imgmeet" alt="" width="80px"></a>
               
                <!-- Menú desplegable de la cuenta -->
               
               
            </div>
            <!-- Sección central del encabezado -->
          
            <!-- Sección derecha del encabezado -->
            <div class="header-right">
                <!-- Enlace al inicio -->
                <a href="pagina.html"><img src="/img/logo/meetworks.png" id="imgmeet" alt="" height="30px"></a>
            </div>



    

            
        </header>

        <main>
        
            <div class="container">
                <!-- Content here -->
   


                <div class="form-div">
                  <form id="registro-form" class="row g-3">
                    <div class="col-md-6">

                     

                      <label for="inputEmail4" class="form-label">Email</label>
                      <input type="email" class="form-control" id="inputEmail" placeholder="correo@gmail.com">
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="inputPassword">
                    </div>

                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="inputNombre" placeholder="Empresa 231">
                    </div>

                    <div class="col-12">
                      <label for="inputRif" class="form-label">RIF (o C.I)</label>
                      <input type="text" class="form-control" id="inputRif" placeholder=" J-0000000">
                    </div>

                    <div class="col-12">
                      <label for="inputNumber" class="form-label">Número de teléfono</label>
                      <input type="text" class="form-control" id="inputNumber" placeholder="412 1211221">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Dirección</label>
                      <input type="text" class="form-control" id="inputDireccion" placeholder="Calle 1234">
                    </div>
                   
                    <div class="col-md-6">
                      <label for="inputCity" class="form-label">Ciudad</label>
                      <input type="text" class="form-control" id="inputCiudad">
                    </div>
                   
                   
                  
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                  </form>
              </div>
              
              




        </main>
   










<script src="main.js"></script>
        
</body>
</html>
