
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gestión de Productos - Starclean C.A</title>

    <!-- BOOTSTRAP -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <!-- Icono de la pestaña del navegador -->
    <link rel="stylesheet" href="/views/clientes/style.css">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/?size=100&id=OJyPm0gV2SYj&format=png&color=000000">
</head>

<body>
    <script src="/views/components/headeradmin.js"></script>
    <main>
        <div class="container">
            <!-- Contenedor principal -->
            <div class="table-div">
                <!-- Contenedor de la tabla -->
                <aside>
                    <!-- Menú lateral -->
                    <nav>
                        <ul>
                            <li><a href="/html/aprende.html">Gestión de Productos </a></li>
                            <p> Agregar, editar y eliminar productos.</p>
                            <li><a href="/html/soporte.html">Gestión de Cotizaciones</a></li>
                            <p> Visualización y gestión de las solicitudes de cotización recibidas de los
                                clientes.</p>
                            <li><a href="/html/about.html">Administración de Clientes</a></li>
                            <p> Mantén un registro de los clientes registrados y sus detalles.</p>
                        </ul>
                    </nav>
                </aside>

                <!-- Contenido principal -->
                <div class="container-right">
                    <div class="card">
                        <h5 class="card-header">Clientes </h5>
                        <div class="card-body">
                            <!-- Sección de clientes -->
                            <div class="accordion" id="accordion">
                                <!-- Inicio del acordeón -->
                                <!-- Aquí se generarán dinámicamente los acordeones de cada cliente -->
                            </div>
                            <!-- Fin del acordeón -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <script src="/views/clientes/main.js"></script>
</body>

</html>



