<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gestión de Productos - Starclean C.A</title>
 

  <!-- BOOTSTRAP -->



  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <!--  -->












  <!-- Enlace al archivo CSS de Bootstrap -->

<script src="/views/vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
  <link rel="stylesheet" href="/views/vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css"> 
  <!-- Icono de la pestaña del navegador -->
  <link rel="stylesheet" href="/views/clientes/style.css">

</head>

<body>







  <header>
    <!-- Sección izquierda del encabezado -->
    <div class="header-left">
      <a href="/"><img src="/public/img/starcleanlogo4.webp" id="imgmeet" alt="" width="80px"></a>

      <!-- Menú desplegable de la cuenta -->
      <div class="dropdown">

        <div class="dropdown-content">
          <!-- Opciones de la cuenta -->
          <p class="titulillo">Elige entre las siguientes opciones</p>
          <a href="#">Editar perfil</a>
          <a href="/html/index.html">Cerrar sesión</a>
          <a href="#" style="color: rgb(168, 44, 44); font-weight: 500;">Eliminar cuenta</a>
        </div>
      </div>
    </div>
    <!-- Sección central del encabezado -->

    <!-- Sección derecha del encabezado -->
    <div class="header-right">
      <!-- Enlace al inicio -->
      <a href="#" class="logo"><a href="#" class="badge badge-primary">Cuenta admin </a>

    </div>






  </header>


  <main>




    <div class="container">
      <!-- Content here -->



      <div class="table-div">

        <aside>
          <!-- Contenido del sidenav -->
          <nav>

            <ul>

              <li><a href="/html/aprende.html">Gestión de Productos </a></li>
              <p> Agregar, editar y eliminar productos.</p>

              <li><a href="/html/soporte.html">Gestión de Cotizaciones</a></li>
              <p> Visualización y gestión de las solicitudes de cotización recibidas de los clientes.</p>
              <li><a href="/html/about.html">Administración de Clientes</a></li>
              <p> Mantén un registro de los clientes registrados y sus detalles.</p>


            </ul>

          </nav>
        </aside>
      </div>


      <div class="container-right">

        <div class="card">
          <h5 class="card-header">Clientes </h5>
          <div class="card-body">



          
<!-- cotizaciones -->


<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">


    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        [Nombre de empresa/persona]
      </button>
    </h2>

    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
      
        <ul class="list-group">
          <li class="list-group-item">[RIF]</li>
          
          <li class="list-group-item">[Información adicional]</li>
          <li class="list-group-item">
            
            <button type="button" class="btn btn-success">Ver compras</button>
            <button type="button" class="btn btn-primary">Comunicarse</button>
            <button type="button" class="btn btn-warning">Ver detalles</button>




          </li>
          </li>
        </ul>

     
      </div>
    </div>
  </div>
  
</div>

 

<!-- cotizaciones end -->





          </div>
        </div>








        <div class="table-second">

        

          </div>

          <div class="table-third">


                  </div>






              </div>







            </div>


          </div>




        </div>















      </div>
    </div>






  </main>
















</body>

</html>